@(allServerData: List[ServerData])
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <!--  >link rel="stylesheet" href="/resources/demos/style.css"-->
  <script>
  $(function() {
    var availableTags = [];
    $.getJSON( "/searchAllServerData", function( data ) {
    	  $.each( data, function( key, val ) {
        	  $.each( val, function( inner_key, inner_val ) {
            	  if(inner_key == "conventionalName") {
        	    	availableTags.push( inner_val );
            	  }
        	  });
    	  });
    	});
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>
</head>
<body>
 
<div class="ui-widget">
  <label for="tags">Conventional Name:</label>
  <input id="tags">
</div>

<ul> 
@allServerData.map { serverData =>
  <li>"@serverData.conventionalName" is "@serverData.hostName.@serverData.domain:@serverData.port" <@serverData.ipAddress> 
  @helper.form(action = routes.Application.deleteServerData(serverData.id)) {
        <input name="deleteButton" type="submit" value="Delete"/>
    }    
  </li>
} 
</ul> 
 
</body>
</html>