@(allServerData: List[ServerData])
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Show All Server Data</title>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/IpM.css")">
  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</head>
<body>
 <div class="navbar-wrapper">
   <div class="container">
     <div class="navbar navbar-inverse navbar-static-top" role="navigation">
       <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand">IpM</a>
         </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="/">Home</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
   </div>
	<form>
	   <div class="jumbotron">
		  <h1><center>Server Data</center></h1>
	   </div>
	</form>
<table id="IpMTable" class="table table-striped">
@allServerData.map { serverData =>
  <tr><td> <span class="table-cell">"@serverData.conventionalName" is "@serverData.hostName.@serverData.domain:@serverData.port" <@serverData.ipAddress></span></td> 
  <td>@helper.form(action = routes.Application.deleteServerData(serverData.id)) {
        <input name="deleteButton" type="submit" value="Delete"/>
    }
    </td> 
  </tr>
} 
</table>
</body>
</html>